body,
html {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
}


.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/hero-image.jpg");
  /* Full width */
  height: 100%;
  width: 100vw;
  /* Set background image size to cover the entire container */
  background-size: cover;
  /* Center the background image */
  /* Repeated background image */
}

#hero-image2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/hero-image.jpg");
  /* Full width */
  width: 100vw;
  /* Set background image size to cover the entire container */
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  margin:0;
  padding: 0;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

a {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #efefef;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

.beige {
  background-color: #270b02;
  border-color: #270b02;
  font-size: 20px;
}

/* .row {
  margin-top: 5%;
}*/

.container {
  margin-top: 5%;
}
/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding:70px 0px 70px 0px;
} */

.album-card {
  width: 14rem;
}

.paddingtop {
  padding-top: 20px;
}

.btn-primary {
  background-color: #000000;
  border-color: #000000;
}

.btn-secondary {
  background-color: #270b02 !important;
  border-color: #000000;
  width: 500px;
  height: 200px;
  font-size: 50px;
}

.flex-item {
  background-color: rgba(238, 238, 238, 0);
  color: #fff;
  padding: 10px;
  /* margin-top: 5%; */
  text-align: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .flex-item {
    flex-basis: calc(50% - 20px);
  }
  .album-card {
    width: 100%;
  }
  #hero-image2 {
    background-image: none;
  }
  .container {
    margin-top: 15%;
  }
}

.card-body {
  background-color: rgb(255, 255, 255);
  /* Changing text color to black */
  overflow-y: auto;
  max-height: 130px;
  padding: 10px;
  /* Adding padding to the card content */
}

.card-title {
  color: #8a8a8a;
}

.card-text {
  color: #8a8a8a;
}

.custom-collapse-button {
  margin-top: 15%;
  color: rgb(255, 255, 255);
  background-color: #421202;
  border-color: #270b02;
  height: 15vh;
  width: 40vh;
  font-size: 30px;
}

.card {
  margin-bottom: 15px;
  /* Adding space between cards */
}

button,
select {
  text-transform: none;
  border-radius: 5px;
}

.navbar {
  width: 100vw;
}
